<div class="dashboard-wrap">
	<div class="dashboard attribution">
		<span class="aa-fix">&nbsp;</span>
		<h1>DyNAMiC&nbsp;<span>Workbench</span>&nbsp;<span><small>Version&nbsp;<%= version %></small></span></h1>
		
		<p class="logos-attribution">
			<a target="_blank" href="https://sysbio.med.harvard.edu/" title="Harvard Systems Biology"><img src="images/logos/external/sysbio-logo.png" /></a>
			<a target="_blank" href="http://hms.harvard.edu/" title="Harvard Medical School"><img src="images/logos/external/hms-logo.jpeg" /></a>
			<a target="_blank" href="http://wyss.harvard.edu/" title="Wyss Institute for Biologically Inspired Engineering"><img src="images/logos/external/wyss-logo.jpeg" /></a>
		</p>
		<p>
			<b>DyNAMiC Workbench</b> (The <b>D</b>ynamic <b>N</b>ucleic <b>A</b>cid <b>M</b>echan<b>i</b>sm <b>C</b>ompiler) is a project of 
			<a href="http://yin.hms.harvard.edu/people/grun.casey/index.html">Casey Grun</a>, 
			<a href="http://people.seas.harvard.edu/~jkwerfel/">Justin Werfel</a>, and 
			<a href="http://yin.hms.harvard.edu/people/yin.peng/index.html">Peng Yin</a> in the 
			<a href="http://www.molecular-systems.net">Molecule Systems</a> lab at Harvard University, Copyright &copy; 2013 by the authors. 
		</p>
		<p>
			DyNAMiC Workbench is free and open source software, licensed under the 
			<a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License, v3</a>. The source code is available at
			<a href="https://github.com/Harvard-MolSys-Lab/dynamic-workbench">https://github.com/yinlab/infomachine2</a>.
			<ul>
			<li>
			DyNAMiC incorporates <a href="http://www.dna.caltech.edu/DNAdesign/">SpuriousDesign</a> and the Pepper DNA Circuit compiler
			from the Erik Winfree group
			</li>
			<li>
				<a href="http://www.nupack.org">NUPACK</a> from the <a href="http://www.piercelab.caltech.edu/">Niles Pierce</a> Group
			</li>
			</ul>
		</p>
		
		
		<p class="acknowledgements">
			DyNAMiC Workbench uses these open source software projects:
			<ul>
				<li><a href="http://www.sencha.com/products/extjs">ExtJS</a> (<a href="http://www.gnu.org/copyleft/gpl.html">GPL v3</a>)</li>
				<li><a href="http://www.jquery.com">jQuery</a> (<a href="http://jquery.org/license">MIT</a> license)</li>
				<li><a href="http://documentcloud.github.com/underscore/">Underscore.js</a> (MIT license)</li>
				<li><a href="http://d3js.org/">D3.js</a> (<a href="http://opensource.org/licenses/BSD-3-Clause">BSD</a> license)</li>
				<li><a href="http://codemirror.net/">CodeMirror</a> (MIT license)</li>
				<li><a href="http://raphaeljs.com">Raphaël</a> (MIT license)</li>
				<li><a href="http://http://nodejs.org/">Node JS</a></li>
				<li>Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</li>
				<li><a href="http://mbostock.github.com/protovis/">Protovis</a> (BSD license)</li>
				<li><a href="https://github.com/kveeiv/extjs-boxselect">ExtJS BoxSelect</a> (MIT license)</li>
				<li><a href="https://github.com/valums/file-uploader">Valum's file uploader</a> (GPL v3)</li>
				<li><a href="https://github.com/zachstronaut/jquery-animate-css-rotate-scale">jquery-animate-css-rotate-scale</a> (MIT license)</li>
				<li><a href="http://mathquill.com/">MathQuill</a> (LGPL license)</li>
				<li><a href="https://github.com/caolan/async">Async</a> (<a href="https://github.com/caolan/async/blob/master/LICENSE">license</a>)</li>
				<li><a href="http://www.senchalabs.org/connect/">Connect</a> (MIT license)</li>
				<li><a href="http://expressjs.com/">Express</a> (MIT license)</li>
				<li><a href="http://embeddedjs.com/">Embedded Javascript</a> (MIT license)</li>
				<li><a href="http://jade-lang.com/">Jade</a> (<a href="https://github.com/visionmedia/jade#a18">license</a>)</li>
				<li><a href="http://mongoosejs.com/">Mongoose</a> (MIT license)</li>
				<li><a href="https://github.com/flatiron/winston">Winston</a> (<a href="https://github.com/flatiron/winston/blob/master/LICENSE">license</a>)</li>
			</ul>
		</p>
		
	</div>
	
	<div class="dynamic-logo">
		<a target="_blank" href="http://www.molecular-systems.net/"><img src="/images/logos/workbench-icon-128.png" /></a>
	</div>
</div>