!!! 5
html(lang="en")
  head
    title DyNAMiC Workbench
    - var resources = manifest.getResources(false,env);
    - each sheet in resources.links
      link(rel="stylesheet",href=sheet)
    
    - env = 'production';
    if env == 'production'
      script(type="text/javascript", src="all.js")
    else
      each script in resources.scripts
        script(type="text/javascript", src=script)
    
  body
    div#loading_mask
      div#loading
        img(src="images/icons/loading.gif", alt="loading")
        span= "Loading..."
        