.app-title {
	font-family: ColaborateThinRegular;
	font-size: 9pt;
}
.app-title b {
	font-family: ColaborateMediumRegular;
	font-weight: normal;
}
.app-title span {
	font-family: ColaborateLightRegular
}
.dashboard {
	font-size: small;	
	font-family: ColaborateLightRegular,Helvetica Neue, Helvetica;
	background-color: rgba(255,255,255,0.7);
	height: 100%;
}
.dashboard-wrap {
	height: 100%;
	background-image: url('../images/logos/workbench-icon-128.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
h1 {
	font-size: 24pt !important;
	font-weight: normal;
	border-bottom: solid 1px silver;
	margin-bottom: 12pt;
	color:#222;	
	font-family: ColaborateLightRegular;
}
h1 span {	
	font-family: ColaborateThinRegular;
}
ul.dashboard-actions li {
	padding: 2px 0px 0px 20px;
	background-repeat: no-repeat;
	margin: 2px 0px 0px 0px;
}
ul.dashboard-actions li a {
	text-decoration: none;
}
ul.dashboard-actions li a:hover {
	text-decoration: underline;
}
ul.dashboard-actions > li {
	margin-bottom: 10px;
}
.dashboard-actions em {
	height: 20px;
	padding-left: 18px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	font-style: italic;
}
.dashboard-actions h2 {
	border-bottom: solid 1px silver;
}
.round {
	border: solid 1px silver;
	background-color: #efefef;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius:10px;	
}


/* Tool icon Classes */
.cursor {
	background-image: url(/images/icons/fugue/cursor.png) !important;	
}

.idea {
  background-image: url(/images/icons/fugue/light-bulb.png) !important; 
}

.idea-remove {
  background-image: url(/images/icons/fugue/light-bulb--minus.png) !important; 
}
.idea-add {
  background-image: url(/images/icons/fugue/light-bulb--plus.png) !important; 
}

.pencil {
	background-image: url(/images/icons/fugue/pencil.png) !important;	
}

.paintbrush {
	background-image: url(/images/icons/famfamfam/paintbrush.png) !important;	
}

.vector {
	background-image: url(/images/icons/famfamfam/vector.png) !important;	
}

/* Object icon classes */
.text-icon {
	background-image: url(/images/icons/fugue/selection-select-input.png) !important;	
}

.connector {
  background-image: url(/images/icons/etc/connector.png) !important;  
}

.polygon {
	background-image: url(/images/icons/fugue/layer-shape-polygon.png) !important;	
}

.ellipse {
	background-image: url(/images/icons/fugue/layer-shape-ellipse.png) !important;	
}

.rect {
	background-image: url(/images/icons/fugue/layer-shape.png) !important;	
}

.line, .primary {
	background-image: url(/images/icons/fugue/layer-shape-line.png) !important;	
}

.path, .polyline, .secondary {
	background-image: url(/images/icons/fugue/layer-shape-polyline.png) !important;	
}

.curve {
	background-image: url(/images/icons/fugue/layer-shape-curve.png) !important;	
}


/* Etc icon classes */
.user {
  background-image: url(/images/icons/fugue/user-silhouette.png) !important;  
}
.key {
  background-image: url(/images/icons/fugue/key.png) !important;  
}

/* Action icon classes */
.flip-horiz {
	background-image: url(/images/icons/fugue/layer-flip.png) !important;	
}

.flip-vert {
	background-image: url(/images/icons/fugue/layer-flip-vertical.png) !important;	
}

.rotate-right {
	background-image: url(/images/icons/fugue/layer-rotate.png) !important;	
}

.rotate-left {
	background-image: url(/images/icons/fugue/layer-rotate-left.png) !important;	
}

.arrange-forward {
	background-image: url(/images/icons/fugue/layers-arrange.png) !important;	
}

.arrange-backwards {
	background-image: url(/images/icons/fugue/layers-arrange-back.png) !important;	
}

.arrange-front {
	background-image: url(/images/icons/fugue/layers-stack-arrange.png) !important;	
}

.arrange-back {
	background-image: url(/images/icons/fugue/layers-stack-arrange-back.png) !important;	
}

.pdf {
  background-image: url(/images/icons/fugue/document-pdf.png) !important;  
}

.image-icon {
  background-image: url(/images/icons/fugue/image.png) !important;  
}

.iframe-icon {
  background-image: url(/images/icons/fugue/ui-scroll-pane.png) !important;  
}

.math-icon {
  background-image: url(/images/icons/fugue/edit-mathematics.png) !important;  
}

.chem {
  background-image: url(/images/icons/fugue/flask.png) !important;  
}

.node-add {
  background-image: url(/images/icons/etc/node-add.png) !important;  
}
.port-add {
  background-image: url(/images/icons/etc/port-add.png) !important;  
}

.compile {
background-image: url(/images/icons/fugue/compile.png) !important;
}

.sequence, .seq, .dd {
background-image: url(/images/icons/fugue/edit-diff.png) !important;
}

.enumerate {
background-image: url(/images/icons/fugue/arrow-split.png) !important;
}

.simulate, .calculator, .calculate {
background-image: url(/images/icons/fugue/calculator.png) !important;
}

.save {
  background-image: url(/images/icons/fugue/disk-black.png) !important;  
}

.expand {
  background-image: url(/images/icons/fugue/document-resize.png) !important;  
}

.pause {
	background-image: url(/images/icons/fugue/control-pause.png) !important;  
}
.play {
	background-image: url(/images/icons/fugue/control.png) !important;  
}

.terminal {
  background-image: url(/images/icons/fugue/terminal.png) !important;  
}

.terminal-24 {
  background-image: url(/images/icons/icons-24/terminal.png) !important;  
}

.arrow-24 {
background-image: url(/images/icons/etc/arrow-24.png) !important;  
}

.simulate-24 {
background-image: url(/images/icons/fugue/calculator.png) !important;
}

.save-24 {
  background-image: url(/images/icons/icons-24/disk-black.png) !important;  
}

.delete-24 {
  background-image: url(/images/icons/icons-24/cross.png) !important;  
}

.user-24 {
  background-image: url(/images/icons/icons-24/user.png) !important;  
}

.document-24 {
  background-image: url(/images/icons/icons-24/document.png) !important;  
}

.duplicate-24 {
  background-image: url(/images/icons/icons-24/stamp.png) !important;  
}

.idea-form-24 {
  background-image: url(/images/icons/etc/form-idea.png) !important;  
}

.undo-24 {
  background-image: url(/images/icons/icons-24/arrow-180.png) !important;  
}
.redo-24 {
  background-image: url(/images/icons/icons-24/arrow.png) !important;  
}

.export-24 {
	background-image: url(/images/icons/icons-24/document-export.png) !important;
}

.build-24 {
	background-image: url(/images/icons/icons-24/wand.png) !important;	
}

.folder-open {
	background-image: url(/images/icons/fugue/folder-open.png) !important;
}

.notecard {
  background-image: url(/images/icons/card_bg.jpeg);
  background-repeat: repeat;
  background-color: white;
}

/* Other classes */
.textbox {
	position: absolute !important;	
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 10pt;
	padding: 5px;
	border: solid 1px #aaaaff;
	background-color: white;
	border-radius: 2px;
	overflow: auto;
}

.textbox h1 {
	font-size: x-large;
}
.textbox h2 {
	font-size: large;
}
.textbox h3 {
	font-size: medium;
}

.textbox h4 {
  font-weight: bold;
}
.textbox h5 {
  font-weight: bold;
  font-style: italic;
}
.textbox h6 {
  font-style: italic;
}

.textbox ul li {
  list-style-type: disc;
  margin-left: 10px;
  list-style-position: inside;
}

.textbox ol li {
  list-style-type: decimal;
  margin-left: 10px;
  list-style-position: inside;
}

.embed {
  
}

.textbox, .math {
  /**
   *   
   background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
  */
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 4px (rgba(0,0,0.5));
    box-shadow: 0 1px 2px #000;
}

.math {
  position: absolute !important;  
  padding: 5px;
  border: solid 1px #aaffaa;
  background-color: white;
  border-radius: 3px;
  overflow: auto;
}

.workspace-label-plain {
	background-color: transparent !important;
	border: none !important;
}

.workspace-label, .workspace-label-center, .workspace-label-callout {
  border: solid 1px rgb(174,174,174);
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.4, rgb(240,240,240)),
    color-stop(0.41, rgb(232,232,232))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(255,255,255) 0%,
    rgb(240,240,240) 40%,
    rgb(232,232,232) 41%
);
  margin-left: 10px;
  padding: 4px 6px 4px 6px;
  font: normal 11px tahoma,arial,helvetica;
  color:#333;
  
}

.workspace-label-center {
  border-radius: 3px 3px 3px 3px;
}

.workspace-label {
  border-radius: 3px 3px 0px 0px;
}

.workspace-label-callout {
	border-radius: 3px 3px 3px 0px;
}


.motif-template {
float: left;
margin: 5px;
padding: 5px;
height: 44px;
width: 44px;
}

.x-view-over {
background-color: #ddd;
border: solid 1px #ccc;
padding: 4px;
}

.iframe iframe {
  border: solid 1px silver;
}

.scroller {
  background-color: yellow;
  opacity: 0.5;
}

.workspace {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
}

.table-cell-padded, .table-cell-padded-right {
  padding: 1px 2px;
}

.table-cell-padded-right {
  border-left: solid 1px silver;
}

.combo-icon {
  width: 16px;
  height: 16px;
}

.console-message {
font-family: 'Mensch',courier,mono,sans-serif;
font-size: 9pt;
padding:3px 3px 3px 20px !important;border-bottom:1px solid #ccc;
background-repeat: no-repeat;
background-position: 2px 2px;
}

.no-bottom-border {
	border-bottom: none !important;
}

.simple-header .x-panel-header {
	background: none !important;
	font-weight: normal !important;
}

.nupack-complex-strands {
	min-width: 40px;
	float: left;
}

.nupack-concentration-bar {
	display: inline-block;
	float: right;
	margin-left: 5px;
}
.nupack-concentration {
	display: inline-block;
	float: right;
}

.nupack-complex-panel {
	margin-bottom: 20px;
	margin-right: 10px;
	width: 98%;
}


/*.nupack-complex-panel > .x-panel-body {
	border-color: transparent !important;
}*/
.CodeMirror-scroll {
	height: 100% !important;
	overflow: auto;
}
.searched {
	background-color: yellow;
}

.cm-pepper-dotParen, .cm-nupack-huplus {
	color: #E66E00;
}

.cm-nupack-keyword {color: #90b;}
.cm-nupack-param {color: #291;}
.cm-nupack-sequence {color: #a22;}
.cm-nupack-structure {color: #22b;}
.cm-nupack-error { color: red; text-decoration:underline; }

.cm-sequence-comment, .cm-nupack-comment {
	color: #a70;
}
.cm-sequence-name {
	color: #22b;
}
.cm-sequence-a {
	color: green;
}
.cm-sequence-t {
	color: red;
}
.cm-sequence-u {
	color: red;
}
.cm-sequence-c {
	color: blue;
} 
.cm-sequence-g {
	color: black;
}
.cm-sequence-n {
	color: orange;
}

.x-tab-inner {
	height: 16px !important;
}

/*
 * Resize Handles
 */
/*
.x-resizable-handle{
    width:8px;
    height:8px;
    background: #dceafb;
    border: solid 1px #6593cf;
    margin:0px;
}
*/
/*
 .x-resizable-handle-west,  .x-resizable-handle-east{
    top: 50%;
    margin-top: -5px;
}
 .x-resizable-handle-north,  .x-resizable-handle-south{
    left: 50%;
    margin-left: -5px;
}

 .x-resizable-handle-east,  .x-resizable-handle-northeast,  .x-resizable-handle-southeast{
    right: -11px;
}
 .x-resizable-hustom-rzwrap .x-resizable-handle-northwest,  .x-resizable-handle-southwest{
    left: -11px;
}

 .x-resizable-handle-north,  .x-resizable-handle-northeast,  .x-resizable-handle-northwest{
    top: -11px;
}
 .x-resizable-handle-south,  .x-resizable-handle-southeast,  .x-resizable-handle-southwest{
    bottom: -11px;
}
*/

/* http://dev.sencha.com/deploy/dev/docs/resources/docs.css */

#loading-mask{
  position:absolute;
  left:0;
  top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color: white;
}
#loading{
  position:absolute;
  left:45%;
  top:40%;
  padding:8px;
  z-index:20001;
    height:auto;
  color:#444;
  font-size: 13px;
  font-family: "ColaborateRegular",helvetica,arial,tahoma,sans-serif;
  font-weight: normal;
  border: solid 1px silver;
}
#loading span {
	vertical-align: middle;
}
#loading img {
    margin-right: 2px;
    margin-top: -1px;
    vertical-align: middle;
}

.file-upload-throbber {
  width: 100px;
  height: 100px;
  text-align:center;
  vertical-align:middle;
  border: solid 1px silver;
  content: 'Uploading...';
}
