.app-title, .pre-release {
	font-family: ColaborateThinRegular;
	font-size: 9pt;
}
.app-title b {
	font-family: ColaborateMediumRegular;
	font-weight: normal;
}
.app-title span, .pre-release {
	font-family: ColaborateLightRegular
}
.pre-release {
	color: red;
}
.dashboard {
	font-size: small;
	font-family: ColaborateLightRegular, Helvetica Neue, Helvetica;
	background-color: rgba(255,255,255,0.7);
	height: 100%;
	z-index: 2;
	position: relative;
}

.dashboard .gray-box {
	background-color: rgba(239, 239, 239, 0.6);
}
#dashboard-table td {
	padding: 5px
}
.dashboard b, .dashboard h2, .dashboard strong {
	font-family: ColaborateRegular;
	font-weight: normal;
}
.dashboard h2 {
	border-bottom: solid 1px silver;
}

.dashboard h3 {
	font-family: ColaborateLight;
	font-weight: normal;
	border-bottom: solid 1px silver;
	padding-bottom: 1px;
	text-align: center
}
.dashboard .hero {
	font-size: 1.7em;
	margin: 1em 0pt;
}

.dashboard hr {
	border-top: solid 1px silver;
	height: 0px
}

.dashboard-wrap .logos {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}
.dashboard-wrap .dynamic-logo {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.dashboard-wrap .logos, .dashboard-wrap .dynamic-logo {
	opacity: 0.6;
}
.dashboard-wrap .logos img {
	margin-right: 5px;
}
.dashboard-wrap {
	height: 100%;
	/*
	 * background-image: url('../images/logos/workbench-icon-128.png');
	 */
	background-repeat: no-repeat;
	background-position: bottom right;
	z-index: 2;
	position: relative;
}

.overflowing, .overflowing > .x-plain-body, .overflowing > .x-plain-body > .x-box-inner {
	overflow: visible !important;
}

.overflowing-top {
	z-index: 2;
	position:relative;
}

#dashboard-quickstart td {
	padding: 3px;
}

h1 {
	font-size: 24pt !important;
	font-weight: normal;
	border-bottom: solid 1px silver;
	margin-bottom: 12pt;
	color: #222;
	font-family: ColaborateLightRegular;
}
h1 span {
	font-family: ColaborateThinRegular;
}
.aa-fix {
	font-family: sans;
	font-size: 12px;
	display: block;
	float: right;
}
ul.dashboard-actions li {
	padding: 2px 0px 0px 20px;
	background-repeat: no-repeat;
	margin: 2px 0px 0px 0px;
}
ul.dashboard-actions li a {
	text-decoration: none;
}
ul.dashboard-actions li a:hover {
	text-decoration: underline;
}
.dashboard-actions em {
	height: 20px;
	padding-left: 18px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	font-style: italic;
}
.dashboard-actions h2 {
	border-bottom: solid 1px silver;
}

#fp-citations li {
	text-indent: -1em; 
	padding-left: 1em;
	margin-top: 0.5em
}

.attribution p {
	margin: 5px;
}
.attribution ul {
	margin: 5px;
}
.attribution ul, .attribution ul li {
	list-style-type: disc;
	margin-left: 10px;
}

.logos-attribution {
	margin: 0px 5px 20px 5px;
	float: right;
}

.logos-attribution img {
	height: 48px;	
}

.attribution h1 span small {
	font-size: smaller;
	color: gray;
}

.round {
	border: solid 1px silver;
	background-color: #efefef;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.warning-box {
	border-color: red;
	background-color: #f88;
}
.green-box {
	border-color: green;
	background-color: #8f8;
}
/*
.warning-box strong, .green-box strong {
	font-weight: bold;
}
*/
.build-done-tip {
	border: solid 2px #0A0;
}
.build-building-tip {
	border: solid 2px #CC0;
}
.build-error-tip {
	border: solid 2px #A00;
}
.build-tip {
	border-width: 2px;
}

.progress {
	background-image: url(/images/icons/loading.gif) !important;
}

/* http://css-tricks.com/examples/WebKitScrollbars/ */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    */
   margin: 3px;
   background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(200,200,200,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}
/* end */

/* Tool icon Classes */
.cursor-icon, .pointer {
	background-image: url(/images/icons/fugue/cursor.png) !important;
}
.idea {
	background-image: url(/images/icons/fugue/light-bulb.png) !important;
}
.idea-remove {
	background-image: url(/images/icons/fugue/light-bulb--minus.png) !important;
}
.idea-add {
	background-image: url(/images/icons/fugue/light-bulb--plus.png) !important;
}
.pencil {
	background-image: url(/images/icons/fugue/pencil.png) !important;
}
.paintbrush {
	background-image: url(/images/icons/famfamfam/paintbrush.png) !important;
}
.vector {
	background-image: url(/images/icons/famfamfam/vector.png) !important;
}
/* Object icon classes */
.text-icon {
	background-image: url(/images/icons/fugue/selection-select-input.png) !important;
}
.connector {
	background-image: url(/images/icons/etc/connector.png) !important;
}
.polygon {
	background-image: url(/images/icons/fugue/layer-shape-polygon.png) !important;
}
.ellipse {
	background-image: url(/images/icons/fugue/layer-shape-ellipse.png) !important;
}
.rect {
	background-image: url(/images/icons/fugue/layer-shape.png) !important;
}
.line, .primary {
	background-image: url(/images/icons/fugue/layer-shape-line.png) !important;
}
.path, .polyline {
	background-image: url(/images/icons/fugue/layer-shape-polyline.png) !important;
}
.curve {
	background-image: url(/images/icons/fugue/layer-shape-curve.png) !important;
}
/* Etc icon classes */
.user {
	background-image: url(/images/icons/fugue/user-silhouette.png) !important;
}
.key {
	background-image: url(/images/icons/fugue/key.png) !important;
}
/* Action icon classes */
.flip-horiz {
	background-image: url(/images/icons/fugue/layer-flip.png) !important;
}
.flip-vert {
	background-image: url(/images/icons/fugue/layer-flip-vertical.png) !important;
}
.rotate-right {
	background-image: url(/images/icons/fugue/layer-rotate.png) !important;
}
.rotate-left {
	background-image: url(/images/icons/fugue/layer-rotate-left.png) !important;
}
.arrange-forward {
	background-image: url(/images/icons/fugue/layers-arrange.png) !important;
}
.arrange-backwards {
	background-image: url(/images/icons/fugue/layers-arrange-back.png) !important;
}
.arrange-front {
	background-image: url(/images/icons/fugue/layers-stack-arrange.png) !important;
}
.arrange-back {
	background-image: url(/images/icons/fugue/layers-stack-arrange-back.png) !important;
}
.desktop, .whiteboard {
	background-image: url(/images/icons/fugue/desktop.png) !important;
}
.pdf {
	background-image: url(/images/icons/fugue/document-pdf.png) !important;
}
.image-icon {
	background-image: url(/images/icons/fugue/image.png) !important;
}
.iframe-icon {
	background-image: url(/images/icons/fugue/ui-scroll-pane.png) !important;
}
.math-icon {
	background-image: url(/images/icons/fugue/edit-mathematics.png) !important;
}
.code-icon {
	background-image: url(/images/icons/fugue/edit-code.png) !important;
}
.chem, .chem-icon {
	background-image: url(/images/icons/fugue/flask.png) !important;
}
.node-add {
	background-image: url(/images/icons/etc/node-add-2.png) !important;
}
.port-add {
	background-image: url(/images/icons/etc/port-add-2.png) !important;
}
.node-ports {
	background-image: url(/images/icons/etc/ports.png) !important;
}
.compile {
	background-image: url(/images/icons/fugue/compile.png) !important;
}

.sequence, .seq {
	background-image: url(/images/icons/etc/sequence.png) !important;
}
.sequence-24, .seq-24 {
	background-image: url(/images/icons/etc/sequence-24.png) !important;
}
.enumerate, .enum {
	background-image: url(/images/icons/fugue/arrow-split.png) !important;
}
.enumerate-24, .enum-24 {
	background-image: url(/images/icons/icons-24/arrow-split.png) !important;
}
.enumerate-nodal {
	background-image: url(/images/icons/etc/enum-nodal.png) !important;
}
.enumerate-secondary {
	background-image: url(/images/icons/etc/enum-secondary.png) !important;
}
.enumerate-secondary-24 {
	background-image: url(/images/icons/etc/enum-secondary-24.png) !important;
}

.verify {
	background-image: url(/images/icons/fugue/tick.png) !important;
}
.verify-24 {
	background-image: url(/images/icons/icons-24/tick.png) !important;
}
.simulate {
	background-image: url(/images/icons/fugue/system-monitor.png) !important;
}
.simulate-24 {
	background-image: url(/images/icons/icons-24/system-monitor.png) !important;
}
.calculator, .calculate {
	background-image: url(/images/icons/fugue/calculator.png) !important;
}
.save {
	background-image: url(/images/icons/fugue/disk-black.png) !important;
}
.expand {
	background-image: url(/images/icons/fugue/document-resize.png) !important;
}
.pause {
	background-image: url(/images/icons/fugue/control-pause.png) !important;
}
.play {
	background-image: url(/images/icons/fugue/control.png) !important;
}
.terminal {
	background-image: url(/images/icons/fugue/terminal.png) !important;
}
.magic {
	background-image: url(/images/icons/fugue/wand.png) !important;
}
.rocket-launch, .rocket-fly {
	background-image: url(/images/icons/fugue/rocket-fly.png) !important;
}
.terminal-24 {
	background-image: url(/images/icons/icons-24/terminal.png) !important;
}
.arrow-24 {
	background-image: url(/images/icons/etc/arrow-24.png) !important;
}
.calculate-24 {
	background-image: url(/images/icons/icons-24/calculator.png) !important;
}
.save-24 {
	background-image: url(/images/icons/icons-24/disk-black.png) !important;
}
.delete-24 {
	background-image: url(/images/icons/icons-24/cross.png) !important;
}
.user-24 {
	background-image: url(/images/icons/icons-24/user.png) !important;
}
.document-24 {
	background-image: url(/images/icons/icons-24/document.png) !important;
}
.duplicate-24 {
	background-image: url(/images/icons/icons-24/stamp.png) !important;
}
.idea-form-24, .form-idea-24 {
	background-image: url(/images/icons/etc/form-idea.png) !important;
}


.wrap-motif-24, .motif-create-24 {
	background-image: url(/images/icons/etc/wrap-motif-24.png) !important;
}
.motif-create, .wrap-motif {
	background-image: url(/images/icons/etc/wrap-motif.png) !important;
}

.motif-destroy-24, .unwrap-motif-24 {
	background-image: url(/images/icons/etc/unwrap-motif-24.png) !important;
}
.motif-destroy, .unwrap-motif {
	background-image: url(/images/icons/etc/unwrap-motif.png) !important;
}

.port-expose {
	background-image: url(/images/icons/fugue/arrow-step-out.png) !important;
}
.undo-24 {
	background-image: url(/images/icons/icons-24/arrow-180.png) !important;
}
.redo-24 {
	background-image: url(/images/icons/icons-24/arrow.png) !important;
}
.export-24 {
	background-image: url(/images/icons/icons-24/document-export.png) !important;
}
.build-24 {
	background-image: url(/images/icons/icons-24/wand.png) !important;
}
.domains-24, .domain-24 {
	background-image: url(/images/icons/etc/secondary-domains-24.png) !important;
}
.behavior-24 {
	background-image: url(/images/icons/etc/behavior-24.png) !important;
}
.folder-open {
	background-image: url(/images/icons/fugue/folder-open.png) !important;
}
.notecard {
	background-image: url(/images/icons/card_bg.jpeg);
	background-repeat: repeat;
	background-color: white;
}
.chembox canvas {
	width: 100%;
	height: 100%;
}

/* Other classes */
.textbox, .chembox {
	position: absolute !important;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 10pt;
	padding: 5px;
	border: solid 1px #aaaaff;
	background-color: white;
	border-radius: 2px;
	overflow: auto;
}
.textbox h1 {
	font-size: x-large;
}
.textbox h2 {
	font-size: large;
}
.textbox h3 {
	font-size: medium;
}
.textbox h4 {
	font-weight: bold;
}
.textbox h5 {
	font-weight: bold;
	font-style: italic;
}
.textbox h6 {
	font-style: italic;
}
.textbox ul li {
	list-style-type: disc;
	margin-left: 10px;
	list-style-position: inside;
}
.textbox ol li {
	list-style-type: decimal;
	margin-left: 10px;
	list-style-position: inside;
}
.embed {

}
.textbox, .math {
	/**
	 *
	 background: #f1f3a2;
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
	 background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
	 */
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 4px (rgba(0,0,0.5));
	box-shadow: 0 1px 2px #000;
}
.math {
	position: absolute !important;
	padding: 5px;
	border: solid 1px #aaffaa;
	background-color: white;
	border-radius: 3px;
	overflow: auto;
}

.workspace-label-port {
	font-weight:bold;
}

.workspace-label-small {
	font-size: 10px;
}

.workspace-label-xsmall {
	font-size: 7px;
}

.workspace-label-plain-small {
	font-size: 7px;
}

.workspace-label-plain, .workspace-label-plain-small {
	background-color: transparent !important;
	border: none !important;
}
.workspace-label, .workspace-label-center, .workspace-label-callout {
	border: solid 1px rgb(174,174,174);
	background-color: #eee;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.4, rgb(240,240,240)),
	color-stop(0.41, rgb(232,232,232))
	);
	background-image: -moz-linear-gradient(
	center top,
	rgb(255,255,255) 0%,
	rgb(240,240,240) 40%,
	rgb(232,232,232) 41%
	);
	margin-left: 10px;
	padding: 3px 6px 4px 6px;
	font: normal 11px tahoma, arial, helvetica;
	color: #333;
}
.workspace-label-center {
	border-radius: 4px 4px 4px 4px;
}
.workspace-label {
	border-radius: 4px 4px 0px 0px;
}
.workspace-label-callout {
	border-radius: 4px 4px 4px 0px;
}

/* Strand previews */
.link-wc {
	stroke-width: 1px;
	stroke: #ccc;
}

.link-strand, .link-tail {
	stroke-width: 2px;
	stroke: #aaa;
}
.tail {
	stroke-width: 2px;
	stroke: #aaa;
	fill: none;
}

.node_index {
	fill: #aaa;
}

g.node-faded {
	opacity: 0.3;
}
g.node-highlight, g.node-highlight-complement {
	opacity: 1;
}

.node-highlight > circle {
	stroke: yellow !important;
	stroke-width: 3px;
}
.node-highlight-complement > circle {
	stroke: #12A0FF !important;
	stroke-width: 3px;
}

/* Enumerator reaction graph */

.link-reaction {
	stroke: #aaa;
}

.reaction-fast {
	fill: #01c;
	stroke: #fff;
}
.reaction-slow {
	fill: #a00;
	stroke: #fff;
}
.complex {
	fill: green;
	stroke: #fff;
}
.complex-transient {
	fill: #0a0;
	stroke: #fff;
}
.complex-resting {
	fill: green;
	stroke: #fff;
}
.complex-initial {
	fill: green;
	stroke: yellow;
}
.resting-state {
	fill: yellow;
	stroke: #fff;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}

path.resting-state-hull {
	fill: yellow;
}


.dynaml-error-message {
	background-color: #dd0;
	padding: 5px 5px 5px 21px;
}

.motif-template {
	float: left;
	margin: 5px;
	padding: 5px;
	height: 44px;
	width: 44px;
}
.iframe iframe {
	border: solid 1px silver;
}
.scroller {
	background-color: yellow;
	opacity: 0.5;
}
.workspace {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
}
.table-cell-padded, .table-cell-padded-right {
	padding: 1px 2px;
}
.table-cell-padded-right {
	border-left: solid 1px silver;
}
.combo-icon {
	width: 16px;
	height: 16px;
}

.gradient {
	background-image:url(/images/gradient.jpg);
	background-position: top left;
	background-repeat: repeat-x;
}


.x-view-over {
	border-color:#ddd;
    background-color:#efefef;
}

.x-view-selected {
	background-color: #dfe8f6 !important;
	border-color:#a3bae9;	
}


.x-tbar-borderless {
	border-bottom: none !important;
}


.console-message {
	font-family: monospace, courier, mono, sans-serif;
	font-size: 9pt;
	padding: 3px 3px 3px 22px !important;
	border-bottom: 1px solid #ccc;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.console-info {
	color: black;
}

.console-warn { 
	color: #F22;	
}

.console-error {
	color: #F22;
}

.x-tab-default-top button {
	height: 16px;
}

.toolbar-background {
	background-color: #DFE9F4;
	background-image: none;
}
.tab-panel-body-toolbar {
	background-color: #D3E1F1;
}
.panel-background-white {
	background-color:#FFF;
}

.no-bottom-border, .noborder-bottom {
	border-bottom: none !important;
}
.noborder-top {
	border-top: none !important;
}
.noborder-left {
	border-left: none !important;
}
.noborder-right {
	border-right: none !important;
}
.simple-header .x-panel-header {
	background: none !important;
	font-weight: normal !important;
}

.citation-bar > .x-panel-body {
	font-size: smaller;
}


/**
 * 	khebs@live.com
 * 	http://www.sencha.com/forum/showthread.php?132811-Another-Ribbon-Style&highlight=ribbon
 */
.ui-ribbonbar 
{
    background: transparent;
}

.ui-ribbonbar .x-panel-body-default
{
    background-image: none !important;
    background-color: #DFE9F5 !important;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#DFE9F5),color-stop(60%,#ccdbec)) !important;
    background-image: -moz-linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;
    background-image: linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;

/*
    border-color: #99BBE8 !important;    
    border-bottom: 1px solid #99BBE8 !important;
*/  
    border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
    -ms-border-radius: 2px 2px 0px 0px;
    -khtml-border-radius: 2px 2px 0px 0px;
}

.panel-background-white {
	background-color:#FFF;
}

/*
.ui-ribbonbar .x-tab-bar-strip 
{
    border-top: 0px;
    padding-right: 10px;
}

.ui-ribbonbar .x-btn-as-arrow em
{
    display: block;
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 1px!important;
}

.x-chrome .ui-ribbonbar .x-btn-as-arrow em
{
    padding-bottom: 13px;
}

.ui-ribbonbar .x-tab-bar-strip-default-plain-horizontal
{
    height: 0px !important;
}

.ui-ribbonbar .x-tab-default-top
{
    background-image: none;
    background-color: transparent;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: white 0 1px 0 0 inset,white -1px 0 0 0 inset,white 1px 0 0 0 inset;
    border: 1px solid transparent;
}

.ui-ribbonbar .x-tab-default-top
{
    margin-left: 2px !important;
}

.ui-ribbonbar .x-tab-default-closable
{
    padding-right: 10px;
}

.ui-ribbonbar .x-tab-close-btn
{
    font-size: 0px !important;
    text-indent: -999px;
}

.ui-ribbonbar .x-tab-bar-body
{
    top: 3px !important;
    border-bottom: 0px !important;
}
*/
.ui-ribbonbar .x-tab-top-active
{
    border: 1px solid #8DB2E3;
    background-image: none;
    background-color: #DFE9F5;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(5%,white),color-stop(80%,#DFE9F5));
    background-image: -moz-linear-gradient(top,white,#F5F9FE 5%,#DFE9F5 80%);
    background-image: linear-gradient(top,white,#F5F9FE 5%,#DEECFD 80%);
}

.ui-ribbonbar .x-tab-default-top-active
{
    border-bottom-color: #DFE9F5 !important;
}

.ui-ribbonbar .x-tab em
{
    padding: 0 10px;
}

.ui-ribbonbar .x-tab em button
{
    font-weight: normal !important;
}

.ui-ribbonbar .x-tab-bar-body .x-box-inner
{
    height: 24px !important;
}


/**
 * 	end
 */



.nupack-complex-strands {
	min-width: 40px;
	float: left;
}
.nupack-concentration-bar {
	display: inline-block;
	float: right;
	margin-left: 5px;
}
.nupack-concentration {
	display: inline-block;
	float: right;
}
.nupack-complex-panel {
	margin-bottom: 20px;
	margin-right: 10px;
	width: 98%;
}
/*.nupack-complex-panel > .x-panel-body {
 border-color: transparent !important;
 }*/
.CodeMirror-scroll {
	height: 100% !important;
	overflow: auto;
}
.searched {
	background-color: yellow;
}
.cm-pepper-dotParen, .cm-nupack-huplus {
	color: #E66E00;
}
.cm-nupack-keyword {
	color: #90b;
}
.cm-nupack-param {
	color: #291;
}
.cm-nupack-sequence {
	color: #a22;
}
.cm-nupack-structure {
	color: #22b;
}
.cm-nupack-error {
	color: red;
	text-decoration: underline;
}
.cm-sequence-comment, .cm-nupack-comment {
	color: #a70;
}
.cm-sequence-link {
	color: #a70; 
	text-decoration: underline;
}
.cm-sequence-name {
	color: #22b;
}
.cm-sequence-a, .cm-sequence-a-lock {
	color: green;
}
.cm-sequence-t, .cm-sequence-t-lock {
	color: red;
}
.cm-sequence-u, .cm-sequence-u-lock {
	color: red;
}
.cm-sequence-c, .cm-sequence-c-lock {
	color: blue;
}
.cm-sequence-g, .cm-sequence-g-lock {
	color: black;
}
.cm-sequence-n, .cm-sequence-r, .cm-sequence-y, .cm-sequence-k, .cm-sequence-m, 
.cm-sequence-s, .cm-sequence-w, .cm-sequence-b, .cm-sequence-d, .cm-sequence-h,
.cm-sequence-v {
	color: orange;
}

.cm-sequence-g-lock, .cm-sequence-a-lock, .cm-sequence-t-lock, .cm-sequence-c-lock {
	/* font-weight: bold; */
	text-decoration: underline;
}

	  
 span.CodeMirror-matchhighlight { background: #ffc; }
 .CodeMirror-focused span.CodeMirror-matchhighlight { background-color: #ffa !important; }

.dd-sequence {
	text-transform: uppercase;
}

/*
 * Fixes for ExtJS styles where 16 x 16px icons in tabs and panel headers are cut off at bottom
 */
.x-tab-inner {
	height: 16px !important;
}

.x-panel-header-icon {
	height: 18px !important;
}

.file-upload-throbber {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	border: solid 1px silver;
	content: 'Uploading...';
}
/* http://dev.sencha.com/deploy/dev/docs/resources/docs.css */

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: white;
}
#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 8px;
	z-index: 20001;
	height: auto;
	color: #444;
	font-size: 13px;
	font-family: "ColaborateRegular", helvetica, arial, tahoma, sans-serif;
	font-weight: normal;
	border: solid 1px silver;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#loading span {
	vertical-align: middle;
}
#loading img {
	margin-right: 2px;
	margin-top: -1px;
	vertical-align: middle;
}
/*!
 * Ext JS
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.msg .x-box-mc {
	font-size: 14px;
}
#msg-div {
	position: absolute;
	right: 5%;
	top: 10px;
	width: 300px;
	z-index: 20000;
	font-family: ColaborateLightRegular, Tahoma;
}
#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	background-image: linear-gradient(bottom, rgb(241,241,241) 100%, rgb(221,221,221) 0%);
	background-image: -o-linear-gradient(bottom, rgb(241,241,241) 100%, rgb(221,221,221) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 100%, rgb(221,221,221) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 100%, rgb(221,221,221) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 100%, rgb(221,221,221) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(246,246,246)),
		color-stop(0, rgb(221,221,221))
	);
	
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}
#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: normal;
	font-size: 15px;
	font-family: ColaborateMediumRegular
}
#msg-div .msg p {
	margin: 0;
}

