/* Enumerator reaction graph */

text {
	font-family: Arial, Sans-Serif;
}

svg {
	fill: none;
}

.link-reaction {
	stroke: #ccc;
	marker-mid: url(#reaction-arrow);
}
.link-reaction-highlight {
	stroke: #999;
}
.link-reaction-noarrow {
	marker-mid: none;
}
.condensed-links .link-reaction {
	stroke: #888;
}

.link-reaction-blurred {
	opacity: 0.3;
}
.link-reaction-reactant {
	/*stroke-dasharray:5,2;*/
}
.link-reaction-product {
	/*stroke-dasharray:2,2;*/
}

.node-blurred {
	opacity: 0.3;
}
rect.reaction-fast, .reaction-fast > rect {
	fill: #01c;
	stroke: #fff;
}
rect.reaction-slow, .reaction-slow > rect {
	fill: #a00;
	stroke: #fff;
}
.condensed-nodes .reaction-fast > rect {
	fill: #02d;
}
.condensed-nodes .reaction-slow > rect {
	fill: #e00;
}

.enum-hull {
	full: yellow;
	stroke: gray;
}

.enum-hidden {
	display: none
}

.complex > rect {
	fill: white;
	stroke: #888;
	/*stroke-width: 1em;*/
}
.complex-transient > rect {
	stroke-dasharray:1.5em;
}
.complex-resting > rect {
	fill: #ffa;
}
.complex-initial > rect {
	fill: #eff;
}
.complex-initial .node-label {
	fill: #00a;
	font-weight: bold;
}
.complex-resting .node-label {

}

.resting-state > rect {
/*	fill: yellow;
	stroke: #fff;
*/}
.node-label {
	fill: #111;
	text-shadow:1px 1px 2px white;
}

.enum-selected > .node-label {
	font-weight: bold;
	fill: #c00;
}

.enum-selected > rect {
	stroke: #c00;
}
