/* Enumerator reaction graph */

svg {
	fill: none;
}

.link-reaction {
	stroke: #ccc;
	marker-mid: url(#reaction-arrow);
}
.link-reaction-noarrow {
	marker-mid: none;
}

.link-reaction-blurred {
	opacity: 0.3;
}
.link-reaction-reactant {
	/*stroke-dasharray:5,2;*/
}
.link-reaction-product {
	/*stroke-dasharray:2,2;*/
}

.node-blurred {
	opacity: 0.3;
}
rect.reaction-fast, .reaction-fast > rect {
	fill: #01c;
	stroke: #fff;
}
rect.reaction-slow, .reaction-slow > rect {
	fill: #a00;
	stroke: #fff;
}
condensed-nodes rect.reaction-fast {
	fill: #02d;
}
condensed-nodes rect.reaction-slow {
	fill: #e00;
}

.enum-selected > text {
	font-weight: bold;
	fill: red;
}

.enum-selected > rect.reaction-fast, .enum-selected > rect.reaction-slow {
	stroke: red;
}

.enum-hull {
	full: yellow;
	stroke: gray;
}

.enum-hidden {
	display: none
}

.complex > rect {
	fill: white;
	stroke: #888;
	/*stroke-width: 1em;*/
}
.complex-transient > rect {
	stroke-dasharray:1.5em;
}
.complex-resting > rect {
	fill: #ffa;
}
.complex-initial > rect {
	fill: #eff;
}
.resting-state > rect {
/*	fill: yellow;
	stroke: #fff;
*/}
.node-label {
	fill: #111;
	text-shadow:1px 1px 2px white;
}