.help-navigation {
	font-family: ColaborateLightRegular;
	text-shadow: 1px 0 white;
	background-color: whiteSmoke;
	border-bottom: 1px solid #eee;
	padding: 5px;
	width: 100%;
	margin: 0px auto 10px auto;
	position: fixed;
	top: 0px;
	left: 0px;
}

body {
	font-family: ColaborateThinRegular;
	padding-top:36px;
	color: #555;
	line-height:18px
}

h1,h2,h3 {
	font-family: ColaborateRegular;
	font-weight: normal;
	color: #333;
}
h1 {
	line-height: 24pt;
	padding-bottom: 4pt;
}
h2 {
	line-height: 24pt;
}

a {
	font-family: ColaborateLightRegular;
	color: #0069d6;
	text-decoration: none;
}
a:hover {
  color: #0050a3;
  text-decoration: underline;
}

span.home {
	background-repeat: no-repeat;
	background-position:top left;
	display: block;
	float: right;
	padding-left: 20px;
	margin-right: 10px;
}


