.infoMachine_color {
	background-image: url(/images/icons/fugue/color.png) !important;	

}

.infoMachine_object {
	
}

.infoMachine_type {
	
}

.infoMachine_adjective {
	
}

.infoMachine_string {
	background-image: url(/images/icons/fugue/edit-all-caps.png) !important;	

}

.infoMachine_number {
	background-image: url(/images/icons/fugue/edit-number.png) !important;	
}