/* Strand previews */
.node_base {
	text-shadow: 0em .2em .7em white;
	fill: #fff;
}
.node_index, .node_segment {
	text-shadow: 0em .2em .7em white;
}
.link-wc {
	stroke-width: 1px;
	stroke: #ccc;
}

.link-strand, .link-tail {
	stroke-width: 5px;
	stroke: #aaa;
	stroke-linecap: round;
}

.link-undesired {
	stroke-width: 3px;
	stroke: #e00;
}

.tail {
	stroke-width: 5px;
	stroke: #aaa;
	stroke-linecap: round;
	fill: none;
}

.node_index {
	fill: #aaa;
}

g.node-faded {
	opacity: 0.3;
}
g.node-highlight, g.node-highlight-complement {
	opacity: 1;
}
g.node > circle {
	stroke-width: 0.15em;
}

.node-highlight > circle {
	stroke: yellow !important;
	stroke-width: 3px;
}
.node-highlight-complement > circle {
	stroke: #12A0FF !important;
	stroke-width: 3px;
}
.strand-preview-drag {
	fill: #fff;
	fill-opacity: 0;
}